[submodule "tingle/tingle-context"]
	path = tingle/tingle-context
	url = git@gitlab.alibaba-inc.com:alinwmobile/tingle-context.git
[submodule "tingle/tingle-style"]
	path = tingle/tingle-style
	url = git@gitlab.alibaba-inc.com:alinwmobile/tingle-style.git
