/**
 * LoadMore Component Style for tingle
 * @author yize
 *
 * Copyright 2014-2015, Tingle Team, Alinw.
 * All rights reserved.
 */

.tLoadMore
  line-height 40px
  border-bottom 1px solid #ccc
  font-size 14px
  color #999
  &.noMore
    color red
  &.loading
    color green

